body {
  font-size: map-get($font-sizes, 'md');

  @include media-breakpoint-up('lg') {
    font-size: $font-size-base;
  }
}

::-moz-selection {
  color: $white;
  background: $component-active-bg;
}

::selection {
  color: $white;
  background: $component-active-bg;
}

pre {
  overflow: auto;
  padding: $spacer / 2;

  color: $gray-500;
  font-family: $font-family-monospace;
  font-size: map-get($font-sizes, 'md');
  white-space: pre-wrap;

  background: $gray-200;
  border-radius: $border-radius;
}

blockquote {
  padding: 0 ($spacer / 2) 0 $spacer;
  position: relative;
  font-style: italic;

  &:before {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $gray-900;
  }

  p:last-of-type {
    margin: 0;
  }

  cite {
    display: block;
    margin-top: $spacer / 2;
    font-style: normal;
  }
}
