<!DOCTYPE html>
<html lang="en" class="<%= layout_class_name(@conn) %>">
  <head>
    <%= render "_head.html", assigns %>
  </head>
  <body class="<%= page_class_name(@conn) %>">
    <%= @inner_content %>
  </body>
</html>
