<header class="header-admin">
  <div class="header-admin__container">
    <%= link "Code War", to: Routes.dashboard_path(@conn, :index), class: "header-admin__name" %>

    <nav class="header-admin__navigation navigation-admin">
      <ul class="navigation-admin__list">
        <li class="navigation-admin__item">
          <%= link "Events", to: Routes.dashboard_path(@conn, :index), class: "navigation-admin__link" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
