@function em($values, $font-size-base: 16px) {
  $list: ();

  @each $value in $values {
    @if ($value == 0 or $value == auto) {
      $list: append($list, $value);
    } @else {
      $em-value: ($value / $font-size-base)+em;
      $list: append($list, $em-value);
    }
  }

  @return $list;
}

@function rem($values, $font-size-base: 16px) {
  $list: ();

  @each $value in $values {
    @if ($value == 0 or $value == auto) {
      $list: append($list, $value);
    } @else {
      $rem-value: ($value / $font-size-base)+rem;
      $list: append($list, $rem-value);
    }
  }

  @return $list;
}
