<div class="navigation-bar">
  <%= link "Back", to: Routes.challenge_path(@conn, :show, @challenge), class: "navigation-bar__link navigation-bar__link--back" %>
</div>

<header class="header-content">
  <h2>Edit Challenge</h2>
</header>

<%= render "_form.html", Map.put(assigns, :action, Routes.challenge_path(@conn, :update, @challenge)) %>
