// Font sizes
$font-sizes: (
  xs: 0.625rem,  // 10px
  sm: 0.75rem,   // 12px
  md: 0.875rem,  // 14px
  default: 1rem, // 16px
  lg: 1.125rem,  // 18px
  xl: 1.5rem,    // 24px
);

// Grid

$zIndex: (
  behind: -1,
  default: 1,
  high: 5,
  higher: 100,
  highest: 1100,
  sky: 10000
);

////////////////////////////////
// Custom Bootstrap variables //
////////////////////////////////

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1224px,
);

// Colors
$blue: #3d56f6;
$red: #ec0645;
$green: #66a518;
$yellow: #f9de0e;
$cyan: #21bdca;
$gray: #718096;
$black: #000;
$white: #fff;

$blue-100: #cdf4fe;
$blue-200: #9ce4fe;
$blue-300: #6bcefe;
$blue-400: #6bcefe;
$blue-500: $blue;
$blue-600: #0772d8;
$blue-700: #0555b5;
$blue-800: #033c92;
$blue-900: #012a78;

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: $gray;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

$primary: $blue;
$secondary: $gray;
$success: $green;
$danger: $red;
$warning: $yellow;
$info: $blue;
$light: $gray-200;
$dark: $gray-800;

$border-color: $gray-300;

// Body
$body-bg: $white;
$body-color: $gray-800;

// Buttons + Forms
$input-btn-padding-y: 0.5rem; // 8px
$input-btn-padding-x: 0.875rem; // 14px
$input-btn-font-size: 0.875rem; // 14px

$btn-border-radius: 0.25rem; // 4px

// Tables
$table-cell-padding-y: 0.875rem; // 14px
$table-cell-padding-x: 0.875rem; // 14px
$table-cell-padding-y-sm: 0.625rem; // 10px
$table-cell-padding-x-sm: 0.625rem; // 10px

$table-th-font-weight: 600;
