// Colors

$color-brand: (
  primary: #0f0032,
  light: #1e113c,
  lighter: #63607c,
  lightest: #8a80a6,
  lightest-alt: #917ada,
  dark: #201547
);

$color-gray: (
  primary: #d9e0e4,
  light: #eef2f5,
  lightest: #f9fbfd,
  dark: #c1cdd3,
  darkest: #9ea1ac
);

$color-blue: (
  primary: #3d56f6,
  light: #eceefe
);

$color-red: (
  primary: #ec0645,
  dark: #e20041
);

/// Layout

$grid-columns: 12;
$grid-gutter-width: 30px;

// Grid

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1380px
);

$zIndex: (
  behind: -1,
  default: 1,
  high: 5,
  higher: 100,
  highest: 1100,
  sky: 10000
);

// Base

// Typography

$font-sizes: (
  default: 1rem,
  xxs: 0.625rem,
  xs: 0.75rem,
  md: 0.875rem,
  lg: 1.25rem,
  xl: 1.375rem
);

// Bootstrap Configuration

$primary: map-get($color-red, 'primary');
$secondary: map-get($color-brand, 'lighter');

$link-color: map-get($color-brand, 'lightest');
$link-hover-color: map-get($color-brand, 'lightest-alt');
