.banner-development {
  position: fixed;
  bottom: 0;

  width: 100%;
  padding: 3px 0;

  font-size: map-get($font-sizes, 'xs');
  text-align: center;

  background: $primary;

  &, > a {
    color: $white;
  }
}
