.form {
  &__footer {
    text-align: right;
  }

  &__field + &__field {
    margin-top: $spacer;
  }

  &__label {
    @extend .form-label;
  }

  &__control {
    @extend .form-control;
  }

  &__feedback {
    display: block;
    padding-top: 3px;

    &--invalid {
      color: var(--cw-color-red-dark);
    }
  }
}
