.header-admin {
  background: $white;
  border-bottom: 1px solid $border-color;
  box-shadow: $box-shadow-sm;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
  }

  &__name {
    font-size: rem(26px);
    font-weight: bold;

    &, &:hover {
      color: $body-color;
      text-decoration: none;
    }
  }
}
