.header-admin {
  background: #fff;
  border-bottom: 1px solid map-get($color-gray, 'primary');
  box-shadow: $base-box-shadow;

  &__container {
    display: flex;
    align-items: center;

    height: 100%;
  }

  &__name {
    font-size: rem(20px);
    font-weight: bold;
  }

  &__navigation {
    margin-left: $grid-gutter-width;
  }
}
